@charset "utf-8";
#wrap {
    position:relative;
    background: #1f212d;
}

html::-webkit-scrollbar {width:10px;} 
html::-webkit-scrollbar-button:start:decrement,
html::-webkit-scrollbar-button:end:increment {display:none;}
html::-webkit-scrollbar-track {background:#1f212d;} 
html::-webkit-scrollbar-thumb {border:1px solid transparent; border-radius:999px; background:#464a54; background-clip:padding-box;} 

/* Accessibility Navigation */
#acc-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 0;
}

#acc-nav a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin-left: -1px;
    margin-bottom: -1px;
    text-align: center;
    font-weight: bold;
    font-size: 0.875em;
    color: #000;
    white-space: nowrap;
}

#acc-nav a:focus, #acc-nav a:hover, #acc-nav a:active {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #000;
    color: #fff;
    z-index: 1000;
}

/* Layout Selector */
#header {
    z-index:100;
    position:absolute;
    margin-left:280px;
    width: calc(100% - 280px);
    background:#1f212d;
}

#header.scroll {
    position: fixed;
}

#header .inner {
    position: relative;
    padding:0 40px 0 40px;
    margin: 0 auto;
}

#header .inner .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 16px 0px 16px 0px;
    border-radius: 6px;
    transition: all 1s ease;
}

#header.scroll .inner .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 6px;
    background: #282c37;
    box-shadow: 0 3px 10px #171c2d;
}

#header .inner .headerWrap .left {
    flex: 1;
    max-width: 500px;
}

#header .inner .headerWrap .left .headerSearch {
    position: relative;
}

#header .inner .headerWrap .left .headerSearch input {
    padding: 0 50px 0 14px;
    width: 500px;
    height: 46px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: none;
    background: #282c37;
}

#header.scroll .inner .headerWrap .left .headerSearch input {
    background: #1f212d;
}

#header .inner .headerWrap .left .headerSearch input:focus {
    outline: 1px solid #313540;
}

#header .inner .headerWrap .left .headerSearch input::placeholder {
    color: #9b9fa9;
}

#header .inner .headerWrap .left .headerSearch button {
    position: absolute;
    top: 50%;
    right: 14px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%); 
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}

#header .inner .headerWrap .left .headerSearch button i {
    display: block;
    color: #9b9fa9;
}

#header .inner .headerWrap .right .blogMenu {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #fff;
}

#header .inner .headerWrap .right .blogMenu li a {
    font-size: 20px;
    color: #9b9fa9;
}

#header .inner .headerWrap .right .blogMenu li a i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;
}

#header .inner .headerWrap .right .blogMenu li a:hover i {
    color: #fff;
    border-radius: 6px;
    background: #323947;
}

#header .inner .headerWrap .right .profile {
    position: relative;
}

/* #header .inner .headerWrap .right .profile button {
    
}

#header .inner .headerWrap .right .profile button:hover {
    background: linear-gradient(223deg, rgb(131 58 180) 0%, rgb(253 29 29) 55%, rgb(252 176 69) 100%);
} */

#header .inner .headerWrap .right .profile button {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 21px;
    color: #fff;
    border-radius: 6px;
    background-image: linear-gradient(223deg, rgb(255 39 39) 0%, rgb(151 71 234) 55%, rgb(0 172 255) 100%);
    
}

#header .inner .headerWrap .right .profile button:before {
    display: block;
    content: "";
    position: absolute;
    width: 53px;
    height: 53px;
    border-radius: 6px;
    background-image: linear-gradient(223deg, rgb(255 39 39) 0%, rgb(151 71 234) 45%, rgb(0 172 255) 100%);
    background-size: 200%;
    opacity: 0;
    transition: all 1s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
}

#header .inner .headerWrap .right .profile button:hover:before {
    opacity: 1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: menuAni;
}

@keyframes menuAni {
    0% {
		background-position: 0% 50%;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
	}
	50% {
		background-position: 100% 50%;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
	}
	100% {
		background-position: 0% 50%;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
	}
}

#header .inner .headerWrap .right .profile button i {
    z-index: 100;
}

#header .inner .headerWrap .right .profile img {
    width: 100%;
    height: 100%;
}

#header .inner .headerWrap .right .profile nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 30;
    width: 96px;
    margin: 0 0 0 -48px;
    padding-top: 12px;
}

#header .inner .headerWrap .right .profile ul {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#header .inner .headerWrap .right .profile ul li a {
    display: block;
    margin-top: -1px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 0.875em;
    line-height: 2.3125rem;
    color: #777;
}

#header .inner .headerWrap .right .profile ul li a:focus,
#header .inner .headerWrap .right .profile ul li a:hover {
    background-color: #fafafa;
    color: #333;
}

#header .util {
    position: absolute;
    top: 24px;
    right: 0;
}

#header .util .search {
    position: relative;
    float: left;
    overflow: hidden;
    width: 32px;
    background-color: #fff;
    box-sizing: border-box;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

#header .util .search:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 32px;
    height: 32px;
    border: 1px solid #eee;
    border-radius: 50%;
    text-indent: -999em;
    background: #fff url('./ico_package.png') no-repeat 0 0;
    vertical-align: top;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

#header .util .search input {
    width: 32px;
    height: 32px;
    padding: 5px 15px;
    border: 0;
    background-color: transparent;
    font-size: 0.875em;
    line-height: 1;
    outline: none;
    box-sizing: border-box;
}

#header .util .search input:focus {
    border-color: #484848;
}

#header .util .search input::placeholder {
    color: #969696;
}

#header .util .search button {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
    width: 30px;
    height: 30px;
    text-indent: -999em;
    border: 1px solid #eee;
    border-radius: 50%;
    background: #fff url('./ico_package.png') no-repeat -1px -1px;
    vertical-align: top;
    outline: none;
}

#header .util .search.on {
    width: 200px;
}

#header .util .search.on:before {
    content: none;
}

#header .util .search.on input {
    display: block;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 32px;
}

#header .util .search.on button {
    border-color: transparent;
}

#header .util .profile {
    position: relative;
    float: left;
    margin-left: 14px;
}

#header .util .profile button {
    display: block;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: 1px solid #eee;
    border-radius: 50%;
}

#header .util .profile img {
    width: 100%;
    height: 100%;
}

#header .util .profile nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 30;
    width: 96px;
    margin: 0 0 0 -48px;
    padding-top: 12px;
}

#header .util .profile ul {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#header .util .profile ul li a {
    display: block;
    margin-top: -1px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 0.875em;
    line-height: 2.3125rem;
    color: #777;
}

#header .util .profile ul li a:focus,
#header .util .profile ul li a:hover {
    background-color: #fafafa;
    color: #333;
}

#header .util .menu {
    display: none;
}

#gnb {
    height: 66px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

#gnb::-webkit-scrollbar {
    display: none;
}

#gnb ul {
    display: inline-block;
    margin-left: -30px;
    vertical-align: top;
}

#gnb ul li {
    float: left;
    padding: 0 26px;
}

#gnb ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 22px 4px 24px;
    color: #777;
}

#gnb ul li a:hover,
#gnb ul li.current a {
    color: #333;
}

#gnb ul li.current a:after,
#gnb ul li a:hover:after,
#gnb ul li a:focus:after {
content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
}

#container {
    position: relative;
}

#container .content-wrap {
    display:flex;
    position:relative;
    min-height:calc(100vh - 80px);
}

#container .content-wrap:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

#content {
    width: 100%;
    padding: 108px 40px 70px 320px;
    box-sizing: border-box;
    background:#1f212d;
}

#content>.inner:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

#aside {
    position: fixed;
    top: 0;
    width: 280px;
    height: 100vh;
    box-sizing: border-box;
    background:#282c37;
}

#aside .close,
#aside .profile {
    display: none;
}

#aside .asideProfile {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:32px 10px;
}

#aside .asideLogo {
    display:block;
    margin-right:10px;
    width:200px;
    height:auto;
}

#aside .asideLogo img {
    width:100%;
    height:auto;
}

#footer {
    height: 80px;
    padding: 38px 0 28px;
    border-top: 1px solid #313540;
    background:#1f212d;
}

#footer .inner {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

#footer p {
    margin-bottom: 10px;
    font-size: 0.875em;
    color: #777;
}

#footer .order-menu a {
    display: inline-block;
    margin-bottom: 23px;
    font-size: 0.8125em;
    vertical-align: middle;
    color: #555;
}

#footer .order-menu a:hover,
#footer .order-menu a:focus {
    color: #333;
}

#footer .order-menu a:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 0 20px 2px 15px;
    background-color: #d2d2d2;
    vertical-align: middle;
}

#footer .order-menu a:first-child::before {
    content: none;
}

#footer .page-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #313540;
    border-radius: 50%;
    background: #353a48 url('./ico_package.png') no-repeat -100px -200px;
    text-indent: -999em;
}

#footer .page-top:focus,
#footer .page-top:hover {
    background-color: #479bff;
    background-position-x: -150px;
}

#tt-body-index .main-slider {
    display: block;
}

#tt-body-index #content {
    padding-bottom: 43px;
}

#tt-body-index .post-cover.notice {
    height: auto;
    background-color: transparent;
}

#tt-body-index .post-cover.notice h1 {
    margin: 0;
    font-size: 1.6875em;
    line-height: 1.5;
    color: #000;
}

#tt-body-index .post-cover.notice h1 a {
    color: #000;
}

#tt-body-index .post-cover.notice .meta {
    margin: 0 0 30px;
    color: rgba(0, 0, 0, 0.6);
}

/* 글 상세 커스텀 */
#tt-body-page #container {
    padding-top: 78px;
}

#tt-body-page.post-cover-hide #container {
    padding-top: 0;
}

#tt-body-page .post-cover {
    width: 100%;
    height: initial;
    background: initial;
}

#tt-body-page .post-cover::before {
    background-color: initial;
}

#tt-body-page .post-cover .inner {
    align-items: center;
    padding: 50px 0px;
    border-bottom: 1px solid #292c39;
}

#tt-body-page .listWrap {
    display:flex;
    flex-wrap:wrap;
    column-gap:30px;
    row-gap:40px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 0 60px;
    max-width: 1240px;
}

#tt-body-page #article-view {
    padding: 20px 0 50px;
}

#tt-body-page #article-view ul li,
#tt-body-page #article-view ol li{
    position: relative;
    padding: 0 0 3px 11px;
    line-height: 1.7;
    list-style-type: none !important;
}

#tt-body-page #article-view ul li::before,
#tt-body-page #article-view ol li::before{
    display: block;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background: #99999d;
}

#tt-body-tag .post-header {
    margin-bottom: 20px;
}

#tt-body-tag .post-header h1 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #fff;
}

#tt-body-tag .tags {
    margin-top: 0;
}

#tt-body-tag .tags a {
    display: flex;
    padding: 6px 17px;
    border: none;
    height: 70px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #9b9fa9;
    width: calc(12.5% - 17.5px);
    background: #282c37;
    justify-content: center;
    align-items: center;
}

#tt-body-tag .tags a:hover {
    color: #fff;
}


/* 카테고리 커스텀 */
.sidebar .sidebar-1 .category {
    position:relative;
}

.sidebar .sidebar-1 .category:before {
    display:block;
    content:"";
    position:absolute;
    top:-10px;
    left:0;
    height:10px;
    width:100%;
    background:#1f212d;
}

.sidebar .sidebar-1 .category:after {
    display:block;
    content:"";
    position:absolute;
    top:-1px;
    left:0;
    height:1px;
    width:100%;
    background:#363840;
}

.sidebar .sidebar-1 .category .tt_category .link_tit {
    display: flex;
    overflow:hidden;
    position:relative;
    padding-left: 65px;
    height: 60px;
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
    color: #9b9fa9;
    align-items: center;
}

.sidebar .sidebar-1 .category .tt_category .link_tit:hover {
    text-decoration:none;
    color: #fff;
    background:#21242d;
    transition:all 0.15s ease-in;
}

.sidebar .sidebar-1 .category .tt_category .link_tit:after {
    display: block;
    content: "";
    position:absolute;
    top:-58px;
    right:1px;
    width:2px;
    height:58px;
    background:#479bff;
}

.sidebar .sidebar-1 .category .tt_category .link_tit:hover:after {
    display: block;
    content: "";
    position:absolute;
    top:1px;
    transition:all 0.3s ease-out;
}

.sidebar .sidebar-1 .category .tt_category .link_tit:before {
    position:absolute;
    left:30px;
    top:20px;
    font-family:"Font Awesome 6 Free";
    font-weight:900;
    font-size: 18px;
    content: "\f029";
}

.sidebar .sidebar-1 .category .tt_category .link_tit.active {
    text-decoration:none;
    color: #479bff;
    background:#21242d;
}

.sidebar .sidebar-1 .category .tt_category .link_tit.active:after {
    top: 1px;
}

.sidebar .sidebar-1 .category .tt_category .category_list {
    display:flex;
    flex-direction:column;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li {
    overflow: hidden;
    position:relative;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li:after {
    display: block;
    content: "";
    position:absolute;
    top:-58px;
    right:1px;
    width:2px;
    height:58px;
    background:#479bff;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li:hover:after {
    display: block;
    content: "";
    position:absolute;
    top:1px;
    transition:all 0.3s ease-out;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .link_item {
    display: flex;
    gap:20px;
    overflow:hidden;
    position:relative;
    padding-left: 65px;
    height: 60px;
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
    color: #9b9fa9;
    border-bottom:1px solid #313540;
    align-items: center;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .link_item > i {
    position: absolute;
    left: 30px;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .link_item:before {
    position:absolute;
    left:30px;
    font-family:"Font Awesome 6 Free";
}

.sidebar .sidebar-1 .category .tt_category .category_list > li:first-child .link_item {
    border-top:1px solid #313540;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li:hover .link_item {
    text-decoration:none;
    color: #fff;
    background:#21242d;
    transition:all 0.15s ease-in;
}

/* .sidebar .sidebar-1 .category .tt_category .category_list > li.more .link_item:after {
display:block;
content:"\f150";
position:absolute;
top:calc(50% + 2px);
right:30px;
font-family:"Font Awesome 6 Free";
font-weight:900;
font-size:16px;
transform: translateY(-50%);
} */

.sidebar .sidebar-1 .category .tt_category .category_list > li.more .link_item {
    background:url('./ico-aside-down-off.svg') no-repeat center right 20px/20px auto;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li.more:hover .link_item {
    background:#21242d url('./ico-aside-down-on.svg') no-repeat center right 20px/20px auto;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li.active .link_item {
    color: #479bff;
    border-bottom:1px solid #242833;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li.active.more .link_item {
    background:#21242d url('./ico-aside-up-on.svg') no-repeat center right 20px/20px auto;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li.active.more:hover .link_item {
    background:#21242d url('./ico-aside-up-on.svg') no-repeat center right 20px/20px auto;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li.active:after {
    display: block;
    content: "";
    position:absolute;
    top:1px;
    right:1px;
    width:2px;
    height:58px;
    background:#479bff;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .sub_category_list {
    display:none;
    padding:10px 20px 10px 50px;
    background:#161820;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .sub_category_list > li {
    padding:10px 0;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .sub_category_list > li .link_sub_item {
    display:flex;
    align-items:center;
    gap:15px;
    color:#9b9fa9;
    text-decoration:none;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .sub_category_list > li .link_sub_item:hover {
    color: #fff;
    transition:all 0.15s ease-in;
}

.sidebar .sidebar-1 .category .tt_category .category_list > li .sub_category_list > li.selected .link_sub_item {
    color: #fff;
}

.sidebar .sidebar-2 {
    margin-top: 38px;
    padding-top: 46px;
    border-top: 1px solid #eee;
}

.sidebar .notice {
    margin-bottom: 37px;
}

.sidebar .recent-comment {
    margin-bottom: 36px;
}

.sidebar .recent-comment ul li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar .post-list {
    margin-bottom: 46px;
}

.sidebar .post-list h2 {
    margin-bottom: 12px;
}

.sidebar .post-list ul li {
    overflow: hidden;
    margin-bottom: 18px;
    padding: 0;
}

.sidebar .post-list ul li img {
    float: right;
    width: 58px;
    height: 58px;
    margin: 2px 0 0 20px;
}

.sidebar .post-list ul li a {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.sidebar .post-list ul li a:hover .title {
    text-decoration: underline;
}

.sidebar .post-list ul li .title {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sidebar .post-list ul li .date {
    display: block;
    margin-top: 6px;
    font-size: 0.75rem;
    line-height: 1;
}

.sidebar .social-list {
    margin-bottom: 46px;
}

.sidebar .social-list h2 {
    margin-bottom: 18px;
}

.sidebar .social-list .tab-list {
    overflow: hidden;
    width: 100%;
}

.sidebar .social-list ul li {
    margin-bottom: 15px;
    padding: 0 0 0 48px;
}

.sidebar .social-list ul li a {
    display: block;
    text-decoration: none;
}

.sidebar .social-list ul li a:hover .text {
    text-decoration: underline;
}

.sidebar .social-list ul li .avatar {
    float: left;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-left: -48px;
    border-radius: 50%;
}

.sidebar .social-list ul li .title {
    display: block;
}

.sidebar .social-list ul li .date {
    display: block;
    margin-top: 6px;
    font-size: 0.75rem;
    color: #777;
}

#aside .tags {
    margin: 0 0 41px;
    padding: 0;
    font-size: 1em;
}

#aside .tags h2 {
    margin-bottom: 8px;
    font-size: 0.875em;
}

#aside .tags a {
    float: none;
    margin: 0 4px 0 0;
    padding: 0;
    border: 0;
    font-size: 0.8125em;
    line-height: 2;
    color: #555;
}

#aside .tags a:after {
    content: ", ";
}

#aside .tags a:last-child:after {
    content: none;
}

#aside .tags a:hover,
#aside .tags a:focus {
    color: #333;
}

.sidebar .count {
    margin-bottom: 46px;
}

.sidebar .count h2 {
    margin-bottom: 3px;
}

.sidebar .count h2:before {
    content: "";
    display: block;
    width: 17px;
    height: 1px;
    margin-bottom: 18px;
    background-color: #555;
}

.sidebar .count p {
    margin-bottom: 6px;
    font-size: 0.8125em;
    color: #777;
}

.sidebar .count .total {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 1.875em;
    color: #555;
}

.sidebar .social-channel {
    margin-bottom: 48px;
}

.sidebar .social-channel ul {
    overflow: hidden;
    width: 100%;
}

.sidebar .social-channel ul li {
    float: left;
    margin-left: 10px;
    padding: 0;
}

.sidebar .social-channel ul li:first-child {
    margin-left: 0;
}

.sidebar .social-channel ul li a {
    display: block;
    width: 34px;
    height: 34px;
    border: 1px solid #eee;
    border-radius: 50%;
    text-indent: -999em;
    background: url('./ico_package.png') no-repeat 0 -100px;
}

.sidebar .social-channel ul li.youtube a {
    background-position-x: -50px;
}

.sidebar .social-channel ul li.instagram a {
    background-position-x: -100px;
}

.sidebar .social-channel ul li.twitter a {
    background-position-x: -150px;
}

.sidebar .social-channel ul li a:focus,
.sidebar .social-channel ul li a:hover {
    background-color: #757575;
    background-position-y: -150px;
}

.sidebar .tab-ui h2 a {
    color: #999;
}

.sidebar .tab-ui h2 a.current {
    color: #555;
}

.sidebar .tab-ui h2 a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    margin: 0 10px;
    vertical-align: middle;
    background: url('./ico_package.png') no-repeat -100px -50px;
}

.sidebar .tab-ui h2 a:first-child:before {
    content: none;
}

#tt-body-page #content {padding-top: 40px;}