$lineColor1: #27292d;
$lineColor2: #313540;
$lineColor3: #585b63;

$pure: #fff;
$focusColor: #e59900;
$fontColor80 : rgba($pure, 0.8);
$fontColor50 : rgba($pure, 0.5);
$fontColor20 : rgba($pure, 0.2);
$fontColor10 : rgba($pure, 0.1);

$grayText1: #5a5a6d;
$grayText2: #7f7f8d;

$color-bg: #1f212d; 
$color-sub: #282c37;
$color-base: #1f2125;
$color-point: #2684ff;

// 디바이스 사이즈
$wide: 1700px;
$middle: 1024px;
$narrow: 768px;
$narrowest: 400px;